<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about.html</title>
</head>
<body>
    <!-- Creating a headers for the about page with paragraphs.-->
    <h1>About Arielle Bernstein</h1>
    <h2>Where I grew up</h2>
    <p>I grew up in New Jersey with my <strong>parents</strong> and my <em>2 siblings</em>.</p>
    <h3>Where are we now</h3>
        <p>I am currently in <strong>school</strong> at <em>UMD</em>. My sister lives in Israel and my brother lives in Colorado.</p>
    <!--Making an unordered list and an ordered list for courses.-->
    <p>My favorite courses listed:</p>
<ul>
    <li>BMGT289B</li>
    <li>PSYC100</li>
    <li>PSYC221</li>
</ul>

    <p>My favorite courses in list order:</p>
<ol>
    <li>PSYC221</li>
    <li>BMGT289B</li>
    <li>PSYC100</li>
</ol>

    <table>
        <tr>
            <th>Courses I took</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2022</td>
        </tr>
    </table>
    <!--Making a hyperlink for my hello world page.-->
    <h4>View hello page.</h4>
        <p>A link to <a href="/hello">hello</a>.</p>
    <h5>Links to my most used websites!</h5>
        <p>A link to <a href="https://elms.umd.edu/">elms.umd</a>.</p>
        <p>A link to <a href="https://www.linkedin.com/in/abernst5/">arielle</a>.</p>
    <p>View Smith Logo</p>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
        width="267" height="72" alt="Smith Logo">
</body>
</html>